#searchtext span{
    background-color:red;
    color:white;
}

div {
    padding: 10px; 
}
#searchtext {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow-y: scroll;
}
.Btn{
    margin-top: 10px;
    margin-left: 100px;
    padding: 10px;
    size: 10px;
}